<h4>Step 1 - Select Starting Location</h4>
<h4 class="gray">Step 2 - Select End Location</h4>

<div class="list-group">
  <a ng-href="#/end/{{home}}" class="list-group-item" ng-show="hasHome()">{{home}} (home)</a>  
  <br>
  <a href="#/detail/parking" class="list-group-item">Parking Lot</a>
  <a href="#/detail/busstop" class="list-group-item">Bus Stop</a>
  <a href="#/detail/building" class="list-group-item">Academic Building</a>
  <a href="#/detail/residence" class="list-group-item">Residence Hall</a>
  <a href="#/detail/venue" class="list-group-item">Venue</a>
</div>