<h4 class="gray">Step 1 - Select Starting Location</h4>
<h4>Step 2 - Select End Location</h4>

<br>

<h4>From: {{start}}</h4>

<form name="myForm">
  Room Number<br>
  <input type="number" ng-model="room" autofocus/><br />
  <button ng-click="confirm()" ng-show="valid()" >Get Directions</button>
<!--   <a href="#" ng-click="confirm()" ng-show="valid()" class="btn btn-default" role="button">Get Direction</a>
  <a href="#" ng-hide="valid()" class="btn btn-default disabled" role="button">Get Direction</a> -->
  <p ng-show="invalid()">Room number does not exist</p>
  <!-- <button ng-click="update(user)">SAVE</button> -->
</form>
