<h3>From: {{start}}</h3>
<h3>End Location</h3>

<form name="myForm">
  Room Number<br>
  <input type="number" ng-model="room" autofocus/><br />
  <button ng-click="confirm()" ng-show="valid()" >Get Direction</button>
<!--   <a href="#" ng-click="confirm()" ng-show="valid()" class="btn btn-default" role="button">Get Direction</a>
  <a href="#" ng-hide="valid()" class="btn btn-default disabled" role="button">Get Direction</a> -->
  <p ng-hide="valid2()">Room number does not exist</p>
  <!-- <button ng-click="update(user)">SAVE</button> -->
</form>
